<aside>
    <div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a routerLink="/posts">
                    <i class="fa fa-comments"></i>
                    <span>Posts</span>
                </a>
            </li>
            <li>
                <a routerLink="/users">
                    <i class="fa fa-users"></i>
                    <span>Users</span>
                </a>
            </li>
        </ul>
    </div>
</aside>