<app-error-panel [isVisible]="isErrorVisible" [errorMessage]="errorMessage"></app-error-panel>

<app-info-panel [isVisible]="isInfoVisible" [errorMessage]="infoMessage"></app-info-panel>

<div class="input-group m-bot15">
    <span class="input-group-addon">#</span>
    <input [(ngModel)]="hashtag" type="text" style="width: 100px; margin-right: 10px;" class="form-control"
        placeholder="Hashtag">
    <button (click)="searchByHashtag()" type="button" class="btn btn-info "><i class="fa fa-search"></i>
        Search</button>
    <button (click)="openDialog()" type="button" style="float: right;" class="btn btn-success "><i
            class="fa fa-plus"></i>
        New Post</button>
</div>

<div *ngFor="let post of posts">
    <app-post [post]="post"></app-post>
</div>